<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <h1 id="title">{{title | uppercase}}</h1>
      <nav class="subnav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Satunnainen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list" routerLinkActive="active">Kaikki</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/info" routerLinkActive="active">Tietoja</a>
          </li>
        </ul>
      </nav>
      <div class="clr-row">
        <div id="poems" class="clr-col-sm-4 clr-col-md-3">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>