.content-area {
    text-align: center;
}

.subnav {
    background-color: transparent;
    box-shadow: none;
}

ul.nav {
    display: table;
    padding-left: 0;
    box-shadow: none;
}

.clr-row {
  margin-top: 3%;
}

#title {
    letter-spacing: 1em;
}

#poems {
  margin: 0 auto;
}
